/* configuração incial CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(34, 34, 34);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    width: 45%;
    background: rgb(34, 34, 34);
    color: white;
}

#game > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
}

#areacontrol {
    width: 113.47px;
    height: 113.47px;
    background: #D9D9D9;
    box-shadow: inset 0px 0px 4.8628px rgba(0, 0, 0, 0.33);
    border-radius: 50%;
}

#arrowsdiv div {
    position: absolute;
    width: auto;
}

#arrowsdiv div:nth-child(1) {
    margin-left: 37.4px;
    margin-top: 4.84px;
}

#arrowsdiv div:nth-child(3) {
    margin-top: 75.84px;
    margin-left: 37.4px;
}

#arrowsdiv div:nth-child(2) {
    margin-left: 75.84px;
    margin-top: 37.45px;
}

#arrowsdiv div:nth-child(4) {
    margin-left: 4.84px;
    margin-top: 37.45px;
}