/* configuração incial CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    color: rgb(28, 28, 28);
    height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 277.18px;
    height: 573px;
    background: #E3E3E3;
    border: 1px solid #000000;
    border-radius: 36px;
}

#gamearea {
    margin-top: 15px;
    width: 245.57px;
    height: 207.48px;
    background: #545970;
    border-radius: 24.314px 24.314px 66.4583px 24.314px;
}

#screengame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 22.69px;  
    margin-left: 41.33px;
    width: 162.09px;
    height: 162.09px;
    background: #6F7E35;
    box-shadow: inset 0px 0px 8.10467px 1.62093px rgba(0, 0, 0, 0.67);
}

#batery {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 74.93px;
    margin-left: 5.79px;
    width: 30.88px;
    height: 20.58px;
}

#batery > h1 {
    font-family: 'Gill Sans MT';
    font-style: italic;
    font-weight: 400;
    font-size: 10.2918px;
    line-height: 12px;
}

#led {
    width: 8.23px;
    height: 8.23px;
    background: #65FF57;
    border: 0.514592px solid #000000;
    border-radius: 50%;
}

#gamecode {
    margin-top: -20px;
    width: 139px;
    height: 117px;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 10.9837px;
    line-height: 13px;
}