/* configuração incial CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    /* display: flex; */
    justify-content: center;
    color: rgb(28, 28, 28);
    height: 100vh;
    width: 100%;
}

header {
    background-color: rgb(105, 27, 27);
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    line-height: 90px;
    font-size: 25px;
}
A
img {
    height: 150px;
    width: 350px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 277.18px;
    height: 573px;
    background: #E3E3E3;
    border: 1px solid #000000;
    border-radius: 36px;
    padding: 15px;
}

.alinhar{
    justify-content: center;
    display: flex;
}

#gamearea {
    width: 245.57px;
    height: 207.48px;
    background: #545970;
    border-radius: 24.314px 24.314px 66.4583px 24.314px;
}

#screengame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 22.69px;
    margin-left: 41.33px;
    width: 162.09px;
    height: 162.09px;
    background: #6F7E35;
    box-shadow: inset 0px 0px 8.10467px 1.62093px rgba(0, 0, 0, 0.67);
}

#batery {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 74.93px;
    margin-left: 5.79px;
    width: 30.88px;
    height: 20.58px;
}

#batery>h1 {
    font-family: 'Gill Sans MT';
    font-style: italic;
    font-weight: 400;
    font-size: 10.2918px;
    line-height: 12px;
}

#led {
    width: 8.23px;
    height: 8.23px;
    background: #65FF57;
    border: 0.514592px solid #000000;
    border-radius: 50%;
}

#gamecode {
    margin-top: -20px;
    width: 139px;
    height: 117px;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 10.9837px;
    line-height: 13px;
}

#titlegame {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: left;
}

#marca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69.99px;
    height: 22.05px;
    border: 0.958703px solid #000000;
    border-radius: 9.58703px;
    margin-right: 5px;
}

#marca>h2 {
    margin-top: -1px;
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 19.1741px;
    line-height: 15px;
    text-align: right;
}

#titlegame>h2 {
    font-family: 'Gill Sans MT';
    font-style: italic;
    font-weight: 400;
    font-size: 19.1741px;
    line-height: 22px;
}

#areacontrol {
    width: 113.47px;
    height: 113.47px;
    background: #D9D9D9;
    box-shadow: inset 0px 0px 4.8628px rgba(0, 0, 0, 0.33);
    border-radius: 50%;
}

#arrowsdiv div {
    position: absolute;
    width: auto;
}

#arrowsdiv div:nth-child(1) {
    margin-left: 37.4px;
    margin-top: 4.84px;
}

#arrowsdiv div:nth-child(3) {
    margin-top: 75.84px;
    margin-left: 37.4px;
}

#arrowsdiv div:nth-child(2) {
    margin-left: 75.84px;
    margin-top: 37.45px;
}

#arrowsdiv div:nth-child(4) {
    margin-left: 4.84px;
    margin-top: 37.45px;
}
