/* configuração incial CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: rgb(34, 34, 34);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    width: 40%;
    background: rgb(34, 34, 34);
    color: white;
}

#game > div {
    position: relative;
    width: 100%;
    text-align: center;
}

#areacontrol {
    width: 113.47px;
    height: 113.47px;
    background: #D9D9D9;
    box-shadow: inset 0px 0px 4.8628px rgba(0, 0, 0, 0.33);
    border-radius: 50%;
}

#arrowsdiv div {
    position: absolute;
    width: auto;
}

#arrowsdiv div:nth-child(1) {
    margin-left: 37.4px;
    margin-top: 4.84px;
}

#arrowsdiv div:nth-child(3) {
    margin-top: 75.84px;
    margin-left: 37.4px;
}

#arrowsdiv div:nth-child(2) {
    margin-left: 75.84px;
    margin-top: 37.45px;
}

#arrowsdiv div:nth-child(4) {
    margin-left: 4.84px;
    margin-top: 37.45px;
}

#persoscreen {
    left: 0;
    top: 0;
    position: absolute;
    background-color: aqua;
    width: 25%;
    padding: 10px;
}

#persoscreen > table {
    width: 100%;
    border-collapse: collapse;
}

#persoscreen td {
    border: 1px solid;
}

@media (max-width: 740px) {
    #game div > h1 {
        font-size: 20px;
    }
}